.App {
  text-align: center;
  min-height: 100vh;
  font-size: 1.4em;
}

h2 {
  position: fixed;
  width: 100vw;
  margin: 0;
  padding: 10px;
  background-color: white;
  z-index: 100;
}

.AppMenu {
  position: fixed;
  z-index: 110;
  top: 8px;
  left: 8px;
  cursor: pointer;
  font-size: 1.4em;
}

.GameBody {
  position: absolute;
  top: 59px;
  width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
