.App {
  text-align: center;
  min-height: 100vh;
  font-size: 1.4em;
}

h2 {
  position: fixed;
  width: 100vw;
  margin: 0;
  padding: 10px;
  background-color: white;
  z-index: 100;
}

.Instruction {
  direction: rtl;
  text-align: start;
  width: 45vw;
  margin: 10px auto 20px;
}

.AppMenuButton {
  position: fixed;
  z-index: 210;
  top: 8px;
  left: 8px;
  cursor: pointer;
  font-size: 1.4em;
}

.AppMenu {
  position: fixed;
  z-index: 300;
  background-color: white;
  top: 58px;
  left: 8px;
  overflow-y: hidden;
  max-height: 0;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
}

.AppMenu.visible {
  max-height: 500px;
  transition: max-height 1s ease-in-out;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.2);
}

.AppMenu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.AppMenu li {
  display: block;
}

.AppMenu a {
  display: block;
  text-align: start;
  text-decoration: none;
  direction: rtl;
  color: black;
  padding: 5px 15px 5px 20px;
  font-size: 1em;
}

.AppMenu a:hover {
  background-color: lightgray;
}

.GameBody {
  position: absolute;
  top: 59px;
  width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
