.GameBoard-Header {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  width: 100vw;
  direction: rtl;
  position: fixed;
  top: 3em;
  z-index: 100;
}

.GameBoard-Body {
  position: absolute;
  top: 102px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  direction: rtl;
  margin-bottom: 100px;
}

/* https://stackoverflow.com/a/50781428/46635 */
@keyframes spin {
  0% {
    transform: rotate(-45deg);
  }
}

.Winner {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 0.65em;
  animation: spin 1ms; /* animation-duration must be > 0 */
  animation-play-state: paused;
}

.PlayerTitle, .PlayerColumn {
  flex: 1 1 0;
}

.PlayerTitle {
  background-color: lightgrey;
}

.PlayerTitle.MaxPlayer {
  background-color: aquamarine;
}

.PlayerName {
  font-size: 1.6em;
  font-weight: bold;
}

.PlayerTotal {
  display: flex;
  direction: rtl;
  align-items: center;
  font-size: 1.6em;
}

.PlayerTotal .Total {
  font-size: 1.5em;
  font-weight: bold;
  direction: ltr;
  margin-inline-end: 5px;
}

.Score {
  position: relative;
  border: 1px solid blue;
  height: 100px;
  direction: ltr;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Score.Active {
  border: 3px solid purple;
}

.Score span {
  cursor: pointer;
  font-size: 3.1em;
}
