.NumberDialogBackdrop, .NumberDialogModal {
  direction: rtl;
  position: fixed;
}

.NumberDialogBackdrop {
  z-index: 200;
  background-color: black;
  opacity: .7;
  display: flex;
  top: 162px;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.NumberDialogModal {
  z-index: 201;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 4px solid blue;
  border-radius: 8px;
  margin: auto;
  padding: 30px;
}
.NumberDialogContent label {
  font-size: 1.4em;
}

.NumberDialogContent input {
  margin-inline-end: 10px;
  margin-block-start: 10px;
  font-size: 1.1em;
  direction: ltr;
  text-align: right;
}

.NumberDialogFooter {
  display: flex;
  width: 100%;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  margin-block-start: 10px;
}

.NumberDialogFooter button {
  margin-top: 20px;
  font-size: 1.3em;
  padding: 8px 20px;
}

button.UpdatedScore.EmptyScore {
  color: red;
}

button.UpdatedScore:not(.EmptyScore) {
  color: green;
}

button.NewScore:not(.EmptyScore) {
  color: blue;
}

.PlayerName {
  font-weight: bold;
}
