.SetupForm {
  display: flex;
  flex-direction: column;
}

.SetupForm label {
  margin-block-start: 10px;
}

.SetupForm label input {
  margin-inline-start: 20px;
  font-size: 1.1em;
}

.Buttons {
  display: flex;
  direction: rtl;
  justify-content: center;
}

.Buttons button {
  margin: 30px;
  padding: 10px;
  font-size: 1.1em;
}
